[Unit]
Description=SLAC iocManager procmgrd procServ daemon
After=slac-mount-iocCommon.service reg-d-iocCommon.mount reg-g-pcds.mount slac-startup.service
Wants=slac-mount-iocCommon.service reg-d-iocCommon.mount reg-g-pcds.mount slac-startup.service boot-complete.target

[Service]
Type=forking
User=tstioc
ExecStart=/reg/d/iocCommon/All/procmgrd.sh

[Install]
WantedBy=multi-user.target
