[Unit]
Description=SLAC startup script to mount NFS drives and install drivers
After=slac-mount-iocCommon.service reg-d-iocCommon.mount 
Wants=slac-mount-iocCommon.service reg-d-iocCommon.mount boot-complete.target

[Service]
Type=oneshot
ExecStart=/reg/d/iocCommon/linux-arm-apalis/common/startup.sh
#ExecStart=/mnt/user/data/config/slac-startup.cmd

[Install]
WantedBy=multi-user.target
