[Unit]
Description=IOC Process Manager
#After=network.target rhel-readonly.service autofs.service
After=multi-user.target
Requires=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/lib/systemd/scripts/slac-iochost-startup.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
